@using SMP.Models
@model SMP.Models.Project

@{
    ViewBag.Title = "AddProjectFirstStep";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProjectFirstStep</title>
</head>
<body>
    @if (((Person)Session["user"]) != null)
    {
        if (((Person)Session["user"]).Position == Position.Менеджер)
        {
            <div class="panel panel-default">
                <p class="row">
                    <h3>@Html.ActionLink("Менеджер - стартовая", "Projects", "Manager") > Создание проекта - шаг 1 </h3>
                </p>
                @using (Html.BeginForm())
                {
                    @*@Html.Hidden("projectId", ((Person)Session["user"]).IdPerson.ToString())*@
                    
                    <div class="row col-lg-12 col-md-12 col-sm-12">
                        <p class="input-group">
                            <span class="input-group-addon" id="Firm">Название:</span>
                            <input type="text" class="form-control" name="projectName" id="projectName" placeholder="Название" value="@(Model == null ? "" : Model.projectName)">
                            @Html.ValidationMessage("ProjectName")
                        </p>
                        <p class="input-group">
                            <span class="input-group-addon" id="Firm">Длительность</span>
                            <span class="input-group-addon" id="Firm">С:</span>
                            @{
                                if (Model == null) { <input type="date" class="form-control" name="projectStart" placeholder="Начало"> }
                                else { <input type="datetime" class="form-control" name="projectStart" placeholder="Начало" value=@Model.startDateTime.ToShortDateString()> }
                            }
                            <input type="hidden" name="parName" value="val" />
                            <span class="input-group-addon" id="Firm">По:</span>
                            @{
                                if (Model == null) { <input type="date" class="form-control" name="projectEnd" placeholder="Конец"> }
                                else { <input type="datetime" class="form-control" name="projectEnd" placeholder="Конец" value=@Model.endDateTime.ToShortDateString()> }
                            }
                        </p>
                        <p class="input-group">
                            @Html.ValidationMessage("ProjectLength")
                        </p>
                        <p class="input-group">
                            <span class="input-group-addon" id="Firm">Описание</span>
                            <textarea id="TextArea1" rows="10" cols="60" class="form-control" name="projectDescription">@(Model == null ? "" : Model.description)</textarea>
                        </p>
                        <p class="row">
                            <div class="col-lg-1 col-md-2 col-sm-4">
                                <input class="btn btn-default" type="submit" value="Готово" name="submit">
                            </div>

                            @if (Model != null)
                            {
                            <div class="col-lg-11 col-md-10 col-sm-8">
                                <div class="alert alert-info" role="alert">Если было произведено изменение длительности проекта, нужно снова нажать на кнопку "Готово"</div>
                            </div>
                            }
                        </p>

                        @if (Model != null)
                        {
                        <p class="row">
                            <h4>Выделение резервного времени</h4>
                        </p>
                        <p class="row">
                            <h5>Всего: @ViewData["Length"]</h5>
                        </p>
                        <p class="input-group col-lg-4 col-md-6 col-sm-12">
                            <span class="input-group-addon">Резерв: </span>
                            <input class="form-control" type="range" min="1" max="@(ViewData["Length"])" value="@(Model == null || Model.reserve > Convert.ToInt32(ViewData["Length"]) ? "1" : Model.reserve.ToString())" name="length" id="sliderReserve" onchange="show_value(this.value)" />
                            <span id="slider_value" class="input-group-addon">@(Model == null || Model.reserve > Convert.ToInt32(ViewData["Length"]) ? "1" : Model.reserve.ToString())</span>
                        </p>
                        }
                        <p class="row">
                            @if (Model != null)
                            {
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <input class="btn btn-default" type="submit" value="Сохранить изменения" name="submit" onclick="return checkLength(length.value, length.max);">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <input class="btn btn-default" type="submit" value="К шагу 2" name="submit" onclick="return checkLength(length.value, length.max);">
                            </div>
                            }
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="btn btn-default">
                                    @Html.ActionLink("Отмена", "Projects", "Manager", new { onclick = "return confirm('Вы уверены, что не хотите сохранять этот проект?');" })
                                </div>
                            </div>
                        </p>
                    </div>
                }
            </div>
        }
        if (((Person)Session["user"]).Position == Position.Исполнитель)
        {
            <h3>Вы вошли, как исполнитель, а нодо войти, как менеджер</h3>
        }
    }
    else
    {
        <h3>Вход не выполнен, Вам надо выполнить вход</h3>
    }
</body>
</html>
